In [3]:
import sys
from heartdisease.logging.logger import logging
from heartdisease.exception.exception import CustomException




from heartdisease.entity.artifact_entity import DataIngestionArtifact
from heartdisease.components.data_ingestion import DataIngestion

In [4]:
from heartdisease.entity.config_entity import  DataIngestionConfig

In [1]:
from heartdisease.entity.config_entity import TrainingPipelineConfig

In [5]:
training_pipeline = TrainingPipelineConfig()

data_ingestion_config = DataIngestionConfig(training_pipeline_config=TrainingPipelineConfig())
data_ingestion = DataIngestion(data_ingestion_config=data_ingestion_config)

In [6]:
data_ingestion_config.file_path

'Data\\heart.csv'

In [7]:
data_ingestion_config.feature_store_file_path

'Artifacts\\data_ingetsion\\raw_data_dir\\heart.csv'

In [1]:
# Regular libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Data\heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [4]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [7]:
from  heartdisease.constants import SCHEMA_FILE_PATH
from heartdisease.utils.main_utils import read_yaml_file, write_yaml_file, read_data

In [8]:
s = read_yaml_file(SCHEMA_FILE_PATH)

In [ ]:
type(s.items()[])

dict_items

In [17]:
for i,j in s.items():
    print(i,j)

columns [{'age': 'int64'}, {'sex': 'int64'}, {'cp': 'int64'}, {'trestbps': 'int64'}, {'chol': 'int64'}, {'fbs': 'int64'}, {'restecg': 'int64'}, {'thalach': 'int64'}, {'exang': 'int64'}, {'oldpeak': 'float64'}, {'slope': 'int64'}, {'ca': 'int64'}, {'thal': 'int64'}, {'target': 'int64'}]