In [3]:
import sys
from heartdisease.logging.logger import logging
from heartdisease.exception.exception import CustomException




from heartdisease.entity.artifact_entity import DataIngestionArtifact
from heartdisease.components.data_ingestion import DataIngestion

In [4]:
from heartdisease.entity.config_entity import  DataIngestionConfig

In [1]:
from heartdisease.entity.config_entity import TrainingPipelineConfig

In [5]:
training_pipeline = TrainingPipelineConfig()

data_ingestion_config = DataIngestionConfig(training_pipeline_config=TrainingPipelineConfig())
data_ingestion = DataIngestion(data_ingestion_config=data_ingestion_config)

In [6]:
data_ingestion_config.file_path

'Data\\heart.csv'

In [7]:
data_ingestion_config.feature_store_file_path

'Artifacts\\data_ingetsion\\raw_data_dir\\heart.csv'

In [11]:
# Regular libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Data\heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [4]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [7]:
from  heartdisease.constants import SCHEMA_FILE_PATH
from heartdisease.utils.main_utils import read_yaml_file, write_yaml_file, read_data

In [8]:
s = read_yaml_file(SCHEMA_FILE_PATH)

In [25]:
s

{'columns': [{'age': 'int64'},
  {'sex': 'int64'},
  {'cp': 'int64'},
  {'trestbps': 'int64'},
  {'chol': 'int64'},
  {'fbs': 'int64'},
  {'restecg': 'int64'},
  {'thalach': 'int64'},
  {'exang': 'int64'},
  {'oldpeak': 'float64'},
  {'slope': 'int64'},
  {'ca': 'int64'},
  {'thal': 'int64'},
  {'target': 'int64'}]}

In [28]:
len(s['columns'])

14

In [17]:
for i,j in s.items():
    print(i,j)

columns [{'age': 'int64'}, {'sex': 'int64'}, {'cp': 'int64'}, {'trestbps': 'int64'}, {'chol': 'int64'}, {'fbs': 'int64'}, {'restecg': 'int64'}, {'thalach': 'int64'}, {'exang': 'int64'}, {'oldpeak': 'float64'}, {'slope': 'int64'}, {'ca': 'int64'}, {'thal': 'int64'}, {'target': 'int64'}]

In [1]:
from heartdisease.utils.main_utils import save_numpy_array_data,save_object, read_data
from heartdisease.entity.artifact_entity import DataTransformationArtifact, DataValidationArtifact
from heartdisease.entity.config_entity import DataTransformationConfig

c:\Users\ashis\Projects\HeartDiseasePred\heartdisease\constants\__init__.py:53: SyntaxWarning: invalid escape sequence '\h'
  FILE_PATH = "Data\heart.csv"

In [17]:
train_df = pd.read_csv(r'Artifacts\data_validation\validated\train.csv')

In [24]:
train_df.drop(columns=['target'],axis=1)

target_feature_train_df = train_df['target']
target_feature_train_df

0      1
1      0
2      0
3      1
4      0
      ..
237    0
238    1
239    1
240    0
241    1
Name: target, Length: 242, dtype: int64

In [25]:
target_feature_train_df = target_feature_train_df.replace(-1, 0)
target_feature_train_df

0      1
1      0
2      0
3      1
4      0
      ..
237    0
238    1
239    1
240    0
241    1
Name: target, Length: 242, dtype: int64

In [9]:
read_data('Artifacts\data_validation\validated\train.csv')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\ashis\AppData\Local\Temp\ipykernel_30036\4485509.py:1: SyntaxWarning: invalid escape sequence '\d'
  read_data('Artifacts\data_validation\validated\train.csv')
C:\Users\ashis\AppData\Local\Temp\ipykernel_30036\4485509.py:1: SyntaxWarning: invalid escape sequence '\d'
  read_data('Artifacts\data_validation\validated\train.csv')

CustomException: Error occured in python script name [c:\Users\ashis\Projects\HeartDiseasePred\heartdisease\utils\main_utils.py] line number [39] error message [[Errno 22] Invalid argument: 'Artifacts\\data_validation\x0balidated\train.csv']

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,42,1,1,120,295,0,1,162,0,0.0,2,0,2,1
1,1,58,1,0,150,270,0,0,111,1,0.8,2,0,3,0
2,2,46,1,2,150,231,0,1,147,0,3.6,1,0,2,0
3,3,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
4,4,60,1,0,117,230,1,1,160,1,1.4,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,237,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
238,238,51,1,2,94,227,0,1,154,1,0.0,2,1,3,1
239,239,69,1,3,160,234,1,0,131,0,0.1,1,1,2,1
240,240,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
241,241,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1